@font-face {
    font-family: 'Kreadon';
    src: url('../fonts/Kreadon-L.woff2') format('woff2'),
        url('../fonts/Kreadon-L.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kreadon Demi';
    src: url('../fonts/Kreadon-D.woff2') format('woff2'),
        url('../fonts/Kreadon-D.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kreadon';
    src: url('../fonts/Kreadon-M.woff2') format('woff2'),
        url('../fonts/Kreadon-M.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kreadon';
    src: url('../fonts/Kreadon-R.woff2') format('woff2'),
        url('../fonts/Kreadon-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

